
.p-checkbox {
  width: 22px;
  height: 22px;
}

.p-checkbox .p-checkbox-box {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 22px;
  height: 22px;
  color: #495057;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #3B82F6;
  background: #3B82F6;
}

p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box {
  border-color: #e24c4c;
}

.p-input-icon-right > i:last-of-type {
  right: 0.75rem;
  color: #6c757d;
}

.p-button {
  color: #ffffff;
  background: #3B82F6;
  border: 1px solid #3B82F6;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.p-component, .p-component * {
  box-sizing:border-box
}

.p-checkbox {
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: bottom;
  position:relative
}

/*.p-checkbox-box {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items:center*/
/*}*/


.p-input-icon-left > i, .p-input-icon-right > i {
  position: absolute;
  top: 50%;
  margin-top:-.5rem
}

.p-password {
  position: relative;
  display:inline-flex
}

.p-fluid .p-password {
  display:flex
}

.p-password-input::-ms-reveal, .p-password-input::-ms-clear {
  display:none
}

.p-password {
  width: 100%;
}

