.container {
  background-color: var(--blue-primary);
  color: var(--white);
  padding: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  height: 100%;
}

.app-container {
  background: linear-gradient(180deg, var(--blue-primary) 0%, var(--green-gradient-start) 100%);
  color: var(--white);
  padding: 15px 30px;
  height: 100%;
  text-align: left;
}


.container--inner {
  background-color: var(--white);
  color: var(--black);
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  height: calc(100% - 80px);
  overflow:auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  margin-bottom:15px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

ul li a {
  display: block;
  padding: 8px;
}
