.container {
  height: 100%;
  width: 100%;
}

.container-inner {
  background-color: var(--white);
  color: var(--black);
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding:12px;
  border-radius: 5px;
}
