<div class="container">
  <div class="container-inner">
    <app-update-user-form *ngIf="user.status == 'unverified'"
                          [payload]="user"
                          heading=", please complete your registration"
                          body="Before you can login you need to complete and confirm your registration details below. Please confirm the details are correct and click the Verify button."
    >
    </app-update-user-form>

    <div *ngIf="user.status == 'active'">
      <div class="container--inner">
        Testing testing 123
        <div>IP {{ ip }}</div>
      </div>
    </div>

    <div *ngIf="loaded && !user.first_name">
      You are not logged in, please <a routerLink="/login">login</a> to continue
      <div>IP {{ ip }}</div>
    </div>
    <app-loading *ngIf="!loaded" [colour]="'#ffffff'"></app-loading>
  </div>
</div>
