<div class="form-container" *ngIf="valid; else goneWrong">
  <div class="form-result"
       [class.open]="showMessage"
       [class.closed]="!showMessage"
       [class.success]="formStatus"
       [class.error]="!formStatus"
  >
    <h4>{{ formMessage }}</h4>
    <hr *ngIf="formMessageDetails.length > 0">
    <div *ngIf="formMessageDetails.length > 0" class="extraDetails">
      <div *ngFor="let item of formMessageDetails">{{ item }}</div>
    </div>

  </div>
  <h3>{{ heading }}</h3>
  <div class="form--body-copy" *ngIf="body" [innerHTML]="body"></div>
  <div class="form--group">
    <div class="form--group__otp">
      <ng-otp-input #ngOtpInput
                    (onInputChange)="onOtpChange($event)"
                    [config]="{length: otpLength}"
      ></ng-otp-input>
    </div>
  </div>
  <div class="form--buttons">
        <button
          pButton
          type="submit"
          class="confirm-button"
        (click)="getNewCode()">
        <app-loading [colour]="'#ffffff'" *ngIf="loadingResend; else requestNewCode"></app-loading>
        </button>
    <button
      pButton
      type="submit"
      class="confirm-button"
      [disabled]="otp.length < otpLength"
      (click)="submit()">
      <app-loading [colour]="'#ffffff'" *ngIf="loading; else login"></app-loading>
    </button>
  </div>
</div>
<ng-template #login>Login</ng-template>
<ng-template #requestNewCode>Request new code</ng-template>
<ng-template #goneWrong>
  <div class="form-container">
    <h3>Somethings gone wrong</h3>
    <div class="form--body-copy">
      Please return to the login screen and try again.
    </div>
    <div class="form--buttons">
      <button
        pButton
        type="submit"
        class="confirm-button"
        routerLink="/login">Login
      </button>
    </div>
  </div>
</ng-template>
