<div class="form-container">
  <div class="form-result"
       [class.open]="showMessage"
       [class.closed]="!showMessage"
       [class.success]="formStatus"
       [class.error]="!formStatus"
  >
    <h4>{{ formMessage }}</h4>
    <hr *ngIf="formMessageDetails.length > 0">
    <div *ngIf="formMessageDetails.length > 0" class="extraDetails">
      <div *ngFor="let item of formMessageDetails">{{ item }}</div>
    </div>

  </div>
  <h3>{{ heading }}</h3>
  <div class="form--body-copy" *ngIf="body" [innerHTML]="body"></div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form--group">
      <label>Name</label>
      <div class="form--ground__name">
        <div>
          <input
            pInputText
            type="text"
            formControlName="first_name"
            class="form-control"
            placeholder="Enter your first name"
            #firstname
            [ngClass]="{ 'is-invalid': f['first_name'].dirty && f['first_name'].errors }"/>
          <div *ngIf="f['first_name'].dirty && f['first_name'].errors" class="invalid-feedback">
            <div *ngIf="f['first_name'].errors['required']">
              Required &#10006;
            </div>
            <div *ngIf="f['first_name'].errors['minlength']">
              Must be at least 3 characters &#10006;
            </div>
            <div *ngIf="f['first_name'].errors['maxlength']">
              must not exceed 15 characters &#10006;
            </div>
          </div>
          <div *ngIf="!f['first_name'].errors" class="valid-feedback">OK &#10004;</div>

        </div>
        <div>
          <input
            pInputText
            type="text"
            formControlName="last_name"
            class="form-control"
            placeholder="Enter your surname"
            [ngClass]="{ 'is-invalid': f['last_name'].dirty && f['last_name'].errors }"/>
          <div *ngIf="f['last_name'].dirty && f['last_name'].errors" class="invalid-feedback">
            <div *ngIf="f['last_name'].errors['required']">
              Required &#10006;
            </div>
            <div *ngIf="f['last_name'].errors['minlength']">
              Must be at least 3 characters &#10006;
            </div>
            <div *ngIf="f['last_name'].errors['maxlength']">
              Must not exceed 15 characters &#10006;
            </div>
          </div>
          <div *ngIf="!f['last_name'].errors" class="valid-feedback">OK &#10004;</div>
        </div>
      </div>

    </div>
    <div class="form--group">
      <label>Mobile phone</label>
      <input
        pInputText
        type="tel"
        formControlName="phone"
        class="form-control"
        placeholder="Enter your mobile"
        [ngClass]="{ 'is-invalid': f['phone'].dirty && f['phone'].errors }"/>
      <div *ngIf="f['phone'].dirty && f['phone'].errors" class="invalid-feedback">
        <div *ngIf="f['phone'].errors['required'] && !f['phone'].errors['startsWith07']">Mobile is required</div>
        <div *ngIf="f['phone'].errors['minlength'] && !f['phone'].errors['startsWith07']">
          Mobile must be 11 numbers &#10006;
        </div>
        <div *ngIf="f['phone'].errors['maxlength'] && !f['phone'].errors['startsWith07']">
          Mobile must not exceed 11 numbers &#10006;
        </div>
        <div
          *ngIf="(!f['phone'].errors['minlength'] || !f['phone'].errors['maxlength']) && f['phone'].errors['startsWith07']">
          Mobile number must start with 07 &#10006;
        </div>
      </div>
      <div *ngIf="!f['phone'].errors" class="valid-feedback">OK &#10004;</div>
    </div>
    <div class="form--group">
      <label>Email</label>
      <input
        pInputText
        type="text"
        formControlName="email"
        class="form-control"
        placeholder="Enter your email address"
        [ngClass]="{ 'is-invalid':f['email'].dirty && f['email'].errors }"/>
      <div *ngIf="f['email'].dirty && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required &#10006;</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid &#10006;</div>
      </div>
      <div *ngIf="!f['email'].errors" class="valid-feedback">OK &#10004;</div>
    </div>
    <div class="form--group">
      <label>Password</label>
      <p-password
        formControlName="password"
        [toggleMask]="true"
        placeholder="Enter your password"
      >
      </p-password>
      <div *ngIf="f['password'].dirty && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required &#10006;</div>
        <div *ngIf="f['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="f['password'].errors['maxlength']">
          Password must not exceed 40 characters
        </div>
      </div>
      <div *ngIf="!f['password'].errors" class="valid-feedback">OK &#10004;</div>
    </div>
    <div class="form--group">
      <label>Confirm Password</label>
      <p-password
        formControlName="c_password"
        [toggleMask]="true"
        placeholder="Confirm your password"
        [feedback]="false">
      </p-password>
      <div
        *ngIf="f['c_password'].dirty && f['c_password'].errors"
        class="invalid-feedback">
        <div *ngIf="f['c_password'].errors['required']">
          Password is required &#10006;
        </div>
        <div *ngIf="f['c_password'].errors['matching']">
          Passwords do not match &#10006;
        </div>
      </div>
      <div *ngIf="!f['c_password'].errors" class="valid-feedback">OK &#10004;</div>
    </div>
    <div class="form--buttons">
      <button
        pButton
        type="submit"
        class="register-button"
        [disabled]="form.invalid || loading">
        <app-loading [colour]="'#ffffff'" *ngIf="loading; else register"></app-loading>
      </button>
    </div>
  </form>
</div>

<ng-template #register>Register</ng-template>
