<div class="form-container">
  <div class="form-result"
       [class.open]="showMessage"
       [class.closed]="!showMessage"
       [class.success]="formStatus"
       [class.error]="!formStatus"
    >
    <h4>{{ formMessage }}</h4>
  </div>
  <h3>{{ heading }}</h3>
  <div class="form--body-copy" *ngIf="body" [innerHTML]="body"></div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form--group">
      <input
        pInputText
        type="text"
        formControlName="email"
        class="form-control"
        placeholder="Enter your email address"
        #email
        [ngClass]="{ 'is-invalid':f['email'].dirty && f['email'].errors }"/>
      <div *ngIf="f['email'].dirty && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required &#10006;</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid &#10006;</div>
      </div>
      <div *ngIf="!f['email'].errors" class="valid-feedback">OK &#10004;</div>
    </div>

    <div class="form--buttons">
      <button
        pButton
        type="submit"
        class="login-button"
        [disabled]="form.invalid || loading">
        <app-loading [colour]="'#ffffff'" *ngIf="loading; else deleteUser"></app-loading>
      </button>
    </div>
  </form>
</div>

<ng-template #deleteUser>Delete User</ng-template>
