<div class="container">
  <ul class="navigation">
    <li *ngFor="let tab of tabs; let i = index"
        (click)="setActiveTab(tab.slug)"
        routerLink="/messages/{{tab.slug}}"
        [class.active]="activeTab === tab.slug">
      <i class="fas {{tab.icon}}"></i> {{tab.name}}
      <div *ngIf="tab.badge > 0" class="badge">
        {{ tab.badge }}
      </div>
    </li>

  </ul>
  <div class="container-inner">
    <div *ngIf="user.status == 'active'; else loading">
      Inbox
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading [colour]="'#ffffff'"></app-loading>
</ng-template>

