<div class="mobileNav" #mobileNav>
  <app-navigation [isOpen]="true" (clicked)="closeBurgerMenu()" [isMobile]="true"></app-navigation>
  <div class="mobileNav__close" (click)="closeBurgerMenu()">
    <i class="fas fa-times"></i>
  </div>
</div>
<div class="app" [ngClass]="{
         'navContainer--open': isSidebarOpen,
         'navContainer--closed': !isSidebarOpen
       }" (click)="closeBurgerMenu()">
  <div class="navContainer">
    <app-navigation [isOpen]="isSidebarOpen"></app-navigation>
  </div>
  <div class="container">
    <button (click)="toggleSidebar()" class="toggleSidebar" [class.is-closed]="!isSidebarOpen">
      <i *ngIf="isSidebarOpen" class="fa fa-chevron-left"></i>
      <i *ngIf="!isSidebarOpen" class="fa fa-chevron-right"></i>
    </button>
    <div class="app-container">
      <div class="app-header">
        <div class="icon-container" routerLink="/">
          <app-icon [colour]="'#ffffff'" width="36px" class="icon"></app-icon>
        </div>
          <h2>{{ heading }}</h2>
        <div class="userStatus">
          <app-user-status></app-user-status>
        </div>
        <div class="burgerMenu" (click)="openBurgerMenu()">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="app-body">
        <div class="container--inner">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer" (click)="closeBurgerMenu()">
  <div>
  <a  routerLink="/" routerLinkActive="active"
     [routerLinkActiveOptions]={exact:true}><i
    class="fas fa-dashboard"></i>
    <div>Dashboard</div>
  </a>
  </div>
  <div>
  <a routerLink="/channels" routerLinkActive="active"
     [routerLinkActiveOptions]={exact:true}><i
    class="fas fa-list-check"></i>
    <div>Channels</div>
  </a>
  </div>
  <div>
  <a routerLink="/inventory" routerLinkActive="active"
     [routerLinkActiveOptions]={exact:true}><i
    class="fas fa-boxes-stacked"></i>
    <div>Inventory</div>
  </a>
  </div>
  <div>
  <a routerLink="/orders" routerLinkActive="active"
     [routerLinkActiveOptions]={exact:true}><i
    class="fas fa-cart-shopping"></i>
    <div>Orders</div>
  </a>
  </div>
  <div>
  <a routerLink="/messages" routerLinkActive="active"
     [routerLinkActiveOptions]={exact:true}><i
    class="fas fa-message"></i>
    <div>Messages</div>
  </a>
  </div>
</div>
