.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navContainer {
  padding: 8px;
  transition: all 300ms;
}

.container {
  position: relative;
  height: 100%;
  flex-grow: 3
}


.navContainer--open {
  width: 260px;
  min-width: 260px;
  transition: all 300ms;
  padding: 8px;
}

.navContainer--closed {
  width: 50px;
  min-width: 50px;
  transition: all 300ms;
  padding: 0;
}

.toggleSidebar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: var(--green-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: -45px;
  transition: all 300ms;
  color:white;
  border:8px solid white;
}

.toggleSidebar i {
  font-size:16px;
}

.app-container {
  background: linear-gradient(180deg, var(--blue-primary) 0%, var(--green-gradient-start) 100%);
  color: var(--white);
  padding: 0 15px 15px 15px;
  height: 100%;
  text-align: left;
}

.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-body {
  height: 100%;
}

.container--inner {
  width: 100%;
  border-radius: 4px;
  height: calc(100% - 57px);
}

h1 {
  white-space: nowrap;
}
