.container {
  padding: 15px 8px 8px 8px;
  text-align: center;
  user-select: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.container::-webkit-scrollbar {
  display: none;
}

.container-small {
  padding: 15px 0 0 0;
  user-select: none;
}

.logo.isClosed {
  transition: all 100ms;
  width: 100%;
  height: 46px;
  opacity: 0;
  text-align: center;
}

.logo.isOpen {
  width: 100%;
  height: 125px;
  transition: all 100ms;
  margin-bottom: 20px;
  opacity: 1;
}

.logo-small.isClosed {
  transition: all 100ms;
  width: 100%;
  height: 26px;
  opacity: 0;
  text-align: center;
}

.logo-small.isOpen {
  width: 100%;
  height: 82px;
  transition: all 100ms;
  margin-bottom: 10px;
  opacity: 1;
}

.big {
  width: 180px;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

ul li {
  display: flex;
  justify-items: center;
  align-content: center;
  transition: all 100ms;
  margin-bottom: 5px;
  position: relative;
}

ul li a {
  text-decoration: none;
  padding: 8px;
  color: var(--nav-colour);
  transition: all 100ms;
  border-radius: 4px;
  margin: 0 2px 0 2px;
}

ul li a:hover {
  background-color: var(--blue-primary);
  color: white;
  transition: all 100ms;
}

ul li a.active {
  background-color: var(--green-primary);
  transition: all 100ms;
}

.hiddenOption {
  display: none;
}

h3 {
  padding: 0 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 16px;
  margin: 0;
}

ul li a {
  display: block;
  width: 100%;
}

a i {
  width: 24px;
  text-align: center;
}

hr {
  padding: 0;
  border: 0;
  border-top: 1px solid var(--nav-border);
  width: 90%;
  margin-left: 5%;
}

.center i {
  float: none;
  text-align: center;
}

.badge {
  background-color: var(--red-primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  right: 8px;
  padding: 0 6px 0 6px;
  font-size: 12px;
}

.version {
  position: absolute;
  bottom: 4px;
  text-align: center;
  font-size: 12px;
  width: 230px;
}

.hide-text li {
  text-align: center;
}

.icon {
  position: absolute;
  left: -4px;
  transition: all 100ms;
  width: 100%;

}

.isIconOpen {
  opacity: 0;
  transition: all 100ms;
}

.isIconClosed {
  opacity: 1;
  transition: all 100ms;
}


.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.user-image {
  width: 42px;
  height: 42px;
}

.user-image > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid var(--nav-colour);
  margin-right: 8px;
}

@media screen and (max-width: 1024px) {
  .hiddenOption {
    display: block;
  }
}
