.form-container {
  padding: 40px;
  border-radius: 10px;
  background-color: var(--green-background);
  color: var(--black);
  position: relative;
  z-index: 1;
  width: 500px;
  border-top: 2px solid var(--nav-border);
}

.form-container:before {
  content: '';
  border-radius: 10px;
  background-color: var(--white);
  opacity: 0.3;
  width: calc(100% - 26px);
  height: 100%;
  position: absolute;
  top: 13px;
  left: 13px;
  z-index: -1;
}

.form-container:after {
  content: '';
  border-radius: 10px;
  background-color: var(--white);
  opacity: 0.2;
  width: calc(100% - 52px);
  height: 100%;
  position: absolute;
  top: 23px;
  left: 26px;
  z-index: -1;
}

.form--group {
  position: relative;
  margin-bottom: 24px;
}

.side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:12px
}

.form--ground__name > div {
  width: 50%;
  position: relative;
}

.form--group > label {
  margin: 4px 0 4px 0;
  display: block;
}


.form--checkbox label {
  margin-left: 12px;
}

input[type=text], input[type=password], input[type=tel], :host ::ng-deep .p-password input {
  width: 100%;
}

.invalid-feedback {
  color: #f55050;
  position: absolute;
  font-size: 12px;
  bottom: -18px;
  right: 0;
}

.valid-feedback {
  color: #00c70c;
  position: absolute;
  font-size: 12px;
  bottom: -18px;
  right: 0;
}

h3 {
  margin: 0 0 18px 0;
  padding: 0;
  text-align: center;
  font-size:24px;
  font-weight: 300;
}

.form--buttons {
  text-align: right;
  display: flex;
  justify-content: center;
}

.register-button {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:18px;
}

.form--body-copy {
  padding: 0 0 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-result {
  position: absolute;
  display:block;
  padding:10px 10px 10px 10px;
  border-radius:12px;
  color:white;
  width:calc(100% - 80px);
  text-align: center;
  transition: all 500ms ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  z-index: 1;
}

.form-result.error {
  background-color: var(--red-primary);
}

.form-result.success {
  background-color: var(--green-primary);
}

.form-result.closed {
  top: -10px;
  opacity:0;
  transition: all 500ms ease;
}
.form-result.open {
  top: 12px;
  opacity:1;
  transition: all 500ms ease;
}

hr {
  border:0;
  border-top: 1px dashed #00000077;
}

.extraDetails {
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 100%;
    padding: 20px;
  }
  .form-result {
    width: calc(100% - 40px);
  }
}
