<div class="container">

  <img [class.tiny]="!isOpen" [class.big]="isOpen" src="/assets/images/itom-logo.png" class="logo" alt="logo"/>

  <h3 *ngIf="user.status === 'active' && isOpen"><img src="/assets/images/profile.png"> {{ user.first_name }} {{ user.last_name}}</h3>

  <ul>
    <li><a [class.center]="!isOpen" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><i
      class="fas fa-dashboard"></i>
      <ng-container *ngIf="isOpen"> Dashboard</ng-container>
    </a></li>
    <li *ngIf="user.status === 'active'">
      <a [class.center]="!isOpen" routerLink="/channels" routerLinkActive="active"><i
      class="fas fa-list-check"></i>
      <ng-container *ngIf="isOpen"> Channels</ng-container>
    </a></li>
    <li *ngIf="user.status === 'active'">
      <a [class.center]="!isOpen" routerLink="/inventory" routerLinkActive="active"><i
      class="fas fa-boxes-stacked"></i>
      <ng-container *ngIf="isOpen"> Inventory</ng-container>
    </a></li>
    <li *ngIf="user.status === 'active'">
      <a [class.center]="!isOpen" routerLink="/orders" routerLinkActive="active"><i
      class="fas fa-cart-shopping"></i>
      <ng-container *ngIf="isOpen"> Orders</ng-container>
    </a></li>
    <li>
      <hr>
    </li>
    <li *ngIf="user.status === 'active'">
      <a [class.center]="!isOpen" routerLink="/settings" routerLinkActive="active"><i class="fas fa-cog"></i>
      <ng-container *ngIf="isOpen"> Settings</ng-container>
    </a></li>
    <li *ngIf="user.status !== 'active'">
      <a [class.center]="!isOpen" routerLink="/login" routerLinkActive="active"
                                            [routerLinkActiveOptions]={exact:true}><i class="fas fa-lock"></i>
      <ng-container *ngIf="isOpen"> Login</ng-container>
    </a>
    </li>
    <li *ngIf="user.status !== 'active'">
      <a [class.center]="!isOpen" routerLink="/register" routerLinkActive="active"><i class="fas fa-user"></i>
      <ng-container *ngIf="isOpen"> Register</ng-container>
    </a></li>
    <li *ngIf="user.status === 'active'">
      <a [class.center]="!isOpen" routerLink="/logout" routerLinkActive="active"><i class="fas fa-unlock"></i>
      <ng-container *ngIf="isOpen"> Logout</ng-container>
    </a></li>
  </ul>

</div>
